In [1]:
import os
import sys
import django
sys.path.append('/home/hamid/w/salary/salary')
from salary import settings
os.environ.setdefault("DJANGO_SETTINGS_MODULE",'salary.settings')
django.setup()
from django.core.wsgi import get_wsgi_application
from baseinfo import models as m
import openpyxl

In [2]:
m.Employee._meta.get_fields()

(<ManyToOneRel: baseinfo.bankaccount>,
 <ManyToOneRel: wage.advanceandloan>,
 <ManyToOneRel: wage.wagedetail>,
 <ManyToOneRel: attendance.worksheet>,
 <django.db.models.fields.AutoField: id>,
 <django.db.models.fields.related.ForeignKey: employer>,
 <django.db.models.fields.CharField: firstname>,
 <django.db.models.fields.CharField: lastname>,
 <django.db.models.fields.CharField: fathername>,
 <django.db.models.fields.CharField: national_code>,
 <django.db.models.fields.CharField: id_number>,
 <django.db.models.fields.CharField: insurance_id>,
 <django.db.models.fields.related.ForeignKey: gender>,
 <django.db.models.fields.related.ForeignKey: military_service>,
 <django.db.models.fields.related.ForeignKey: place_of_born>,
 <django.db.models.fields.related.ForeignKey: place_of_issu>,
 <django.db.models.fields.DateField: date_of_born>,
 <django.db.models.fields.DateField: date_of_issu>,
 <django.db.models.fields.related.ForeignKey: education_degree>,
 <django.db.models.fields.IntegerField: age>,
 <django.db.models.fields.IntegerField: experince_year>,
 <django.db.models.fields.related.ForeignKey: employee_status>,
 <django.db.models.fields.related.ForeignKey: work_place>,
 <django.db.models.fields.related.ForeignKey: post_place>,
 <django.db.models.fields.related.ForeignKey: work_status>,
 <django.db.models.fields.related.ForeignKey: marital_status>,
 <django.db.models.fields.IntegerField: children_count>,
 <django.db.models.fields.related.ForeignKey: work_group>,
 <django.db.models.fields.BooleanField: tax_exempt>,
 <django.db.models.fields.BooleanField: indsurence_exempt>,
 <django.db.models.fields.CharField: tel>,
 <django.db.models.fields.CharField: mobile>,
 <django.db.models.fields.TextField: address>,
 <django.db.models.fields.TextField: description>)

In [3]:
wb=openpyxl.load_workbook('/home/hamid/w/salary/salary/emp.xlsx',data_only=True)

In [4]:
print(wb.sheetnames)

['employees', 'djangoDatabase']

In [5]:
sheet_name=wb.sheetnames[1]

In [6]:
ws=wb[sheet_name]

In [7]:
employer=m.Employer.objects.first()

In [8]:
employer

In [9]:
employee_status=m.EmployeeStatus.objects.first()

In [10]:
employee_status

In [19]:
work_place=m.WorkPlace.objects.first()
post_place=m.PostPlace.objects.first()
work_status=m.WorkStatus.objects.first()
marital_status=m.MaritalStatus.objects.first()
work_group=m.WorkGroup.objects.first()
tax_exempt=False
indsurence_exempt=False

In [23]:
work_status

In [24]:
obj={'employer':employer,'firstname':ws.cell(3,4).value,'lastname':ws.cell(3,5).value, 'fathername':ws.cell(3,6).value,
     'national_code':ws.cell(3,7).value,'id_number':ws.cell(3,8).value,'insurance_id':ws.cell(3,9).value,'employee_status':employee_status,
     'work_place':work_place,'post_place':post_place,'work_status':work_status,'marital_status':marital_status,'children_count':ws.cell(3,15).value,
    'work_group':work_group,'tax_exempt':tax_exempt,'indsurence_exempt':indsurence_exempt}

In [25]:
obj

{'employer': <Employer: شرکت نفت و گاز اروندان>,
 'firstname': 'عباس',
 'lastname': 'آل علي',
 'fathername': 'اسماعيل',
 'national_code': 1899481869,
 'id_number': 2457,
 'insurance_id': '0052555719',
 'employee_status': <EmployeeStatus: در حال کار>,
 'work_place': None,
 'post_place': <PostPlace: دارخوین>,
 'work_status': <WorkStatus: شیفت>,
 'marital_status': <MaritalStatus: متاهل>,
 'children_count': 1,
 'work_group': <WorkGroup: گروه ۶>,
 'tax_exempt': False,
 'indsurence_exempt': False}

In [26]:
m.Employee.objects.create(**obj)

In [28]:
for i in range(2,435):
    obj={'employer':employer,'firstname':ws.cell(i,4).value,'lastname':ws.cell(i,5).value, 'fathername':ws.cell(i,6).value,
     'national_code':ws.cell(i,7).value,'id_number':ws.cell(i,8).value,'insurance_id':ws.cell(i,9).value,'employee_status':employee_status,
     'work_place':work_place,'post_place':post_place,'work_status':work_status,'marital_status':marital_status,'children_count':ws.cell(i,15).value,
    'work_group':work_group,'tax_exempt':tax_exempt,'indsurence_exempt':indsurence_exempt,'mobile':ws.cell(i,20).value}
    m.Employee.objects.create(**obj)

In [165]:
m.Employee.objects.all().delete()

(433, {'baseinfo.BankAccount': 0, 'baseinfo.Employee': 433})